/* temples.css - Mobile First */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

header {
  background-color: #3f0071;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 2px;
  text-align: left;
  transition: background-color 0.3s;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
}

nav a:hover {
  background-color: #3700b3;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

main h1 {
  text-align: center;
}

.temple-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

figure {
  margin: 0;
  text-align: center;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

footer {
  background-color: #3f0071;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


